@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box; /*Making sure when we add any padding or border it doesnt affect the width of it*/
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;/*Functionality to eventually Center everything*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /*Viewport Height: Take up the entire height of the browser page*/
  overflow: hidden; /*Avoiding scroll bars showing by default on the page*/
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) { /*Anything that happens in this brackets will only take effect if the screen is under 480px*/
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}