@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #f0f0f0;
}

h1 {
  margin: 50px 30px;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

/*The inactive faqs will be trans[parent while the active faqs will have a white background*/

.faq { /*This is how an inactive faq will look*/
  background-color:transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative; /*This enables us to position everything absolute within the faq*/
  overflow: hidden;
  transition: 0.3s ease; /*Smooth opening and closure*/
}

.faq.active { /*The styling of an active faq the user has clicked on*/
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
/*Inserting and styling the comment icon on teh active faq. icon details retrieved from fontawesome.com*/
.faq.active::before, .faq.active::after {
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;/*MAking them placed in the same position*/
  left: 20px;
  z-index: 0;
}
/*Making the other icon(before clicking) appear on a different spot from the other (after cicking)*/
.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

/*Styling the title*/
.faq-title {
  margin: 0 35px 0 0;
}
/*Making the answer hidden unless its active*/
.faq-text {
  display: none; /*The tesxt is hidden since the user hasnt clicked for the answer yet*/
  margin: 30px 0 0;
}
/*Styling the appearance of the FAQ answer*/
.faq.active .faq-text {
  display: block;
}

/*Styling the appearance of the buttons that open and close the answer section. This is before they're active and are placed to the right hand side of the Question*/
.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

/*Making teh outline of the button to be invisible when its in its focus state*/
.faq-toggle:focus {
  outline: 0;
}
/*Hiding the X icon when the answer hasnt been clicked for*/
.faq-toggle .fa-times {
  display: none;
}

/*MAking the X icon available once the user has seen the answer and wants to close the answer*/
.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

/*MAking the Chevron down button invisible when the answer is active. That way, only the X icon is available for the user to close the answer once they've read*/
.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

/*MAking chevron visible when the faq is not active*/
.faq.active .faq-toggle {
  background-color: #9fa4a8;
}