@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box; /*Making sure when we add any padding or border it doesnt affect the width of it*/
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;/*Functionality to eventually Center everything*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /*Viewport Height: Take up the entire height of the browser page*/
  overflow: hidden; /*Avoiding scroll bars showing by default on the page*/
  margin: 0;
}